:root {
    --pomelo-pink: rgb(255, 176, 190);
    --pomelo-yellow: rgb(255, 245, 139);
    --pomelo-green: rgb(183, 231, 135);
}

html {
    height: 100%;
    width: 100%;
}

body {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(var(--pomelo-pink) 5%, var(--pomelo-yellow) 70%, var(--pomelo-green) 99%);
}
.center-image {
    max-width: 500px;
    min-width: 200px;
}
